/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Raleway');
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{font-family:"raleway",sans-serif;
overflow-x: hidden;
}
.b-body{overflow-x: hidden;}

h1{font-weight:bold;}

.fixed{position:fixed;}
.f-h {
    position: fixed;
    top: 0;
}


#nav li{
	    display: inline-block;
    width: 136px;
    text-align: right;
    position: relative;
    top: 5px;
}

#nav li.active a, #nav li:hover a{color:white;}
#nav1 .active{color:white !important; background:none !important;}
#nav a{
	font: normal normal 700 14px/1.4em raleway,sans-serif;
	    padding: 0 10px;
    color: #000000;
    transition: color 0.4s ease 0s;
	}
header{position: relative; z-index: 9999;}




.logo{    top: 10px;
    /* left: 20px; */
    position: fixed;
    margin-left: 20px;}

@media only screen and (min-width: 1200px){
.container {
    max-width: 980px;
    position: relative;
}
}


.home1{position: fixed;z-index: -1;height: 600px;width:100%;}
.sec-1{
	    background:url("../img/home1.png") no-repeat fixed;
    /* height: 500px; */
    width: 100%;
     margin-top:34px;
     height:970px;
     background-size: cover;
     position: relative;
}

.bg11{background:rgba(64, 148, 237, 0.5);height:100%; }


.sec-1 h4{
	    font: normal normal bold 40px/1.4em raleway,sans-serif;
    color: white;
    margin: 0;
    line-height: 46px;
	    
}

.sec-1 p{font: normal normal normal 18px/1.4em raleway,sans-serif;
    color: white;
    margin: 0;}

.sec-1 .text-center{
	padding:195px 0 0;
}

.button{
	background:rgba(64, 148, 237, 1);
	padding:15px 55px;
	border-radius:50px;
	color:white;
	font-weight:bold;
	cursor:pointer;
	transition:background-color 0.4s ease 0s;
}

.button:hover{
	background:rgb(50,225,218);
	color:white;
	text-decoration: none;
	}
	
	#about{
    background: white;
    padding: 250px 50px 50px;
    position: relative;

	}
	
	#about h5{
		font:normal normal bold 20px/1.4em raleway,sans-serif;
		color:#4094ED;
		margin-bottom:15px;
	}
	
	
	#about p{
    font: normal normal normal 16px/1.4em raleway,sans-serif;
    color: #605E5E;
    padding:5px 30px;

	}
	
	#how{
		padding:5px 5px 150px;
		position: relative;
	}
	
	iframe{
		height: 250px;
		width:30%;
	}
	
	@media only screen and (max-width:900px){
		iframe{width:80%;}
	}
	
	#how h4 {
    font: normal normal bold 40px/1.4em raleway,sans-serif;
    color: #2F2E2E;
    padding:30px 5px 78px;
}
	
.how-it-work{
	background:rgb(242, 247, 255);
}

.l-1{
	left: 80%;
    width: 28px;
    position: absolute;
    visibility: inherit;
    top: 88px;
    height: 27px;
}


.sec-1 svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #FFFFFF;
    fill-opacity: 1;
    stroke: transparent;
    stroke-width: 0px;
   }
   
   .l-2{
   	left: 3%;
    width: 31px;
    position: absolute;
    visibility: inherit;
    top: 306px;
    height: 44px;
   }
   
   
   .l-3{
   	left: 90%;
    width: 36px;
    position: absolute;
    visibility: inherit;
    top: 379px;
    height: 31px;
   }


.l-4{
	left: -13%;
    width: 46px;
    position: absolute;
    visibility: inherit;
    top: 744px;
    height: 55px;
}

.l-5{
	    left: -9%;
    width: 24px;
    position: absolute;
    visibility: inherit;
    top: 801px;
    height: 22px;
}

h3{
	font:normal normal bold 55px/1.4em raleway,sans-serif;
	color:white;
}

.font_6{
	font:normal normal normal 18px/1.4em raleway,sans-serif;
	color:white;
}

.style-irqduxif1 {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    height: 0 !important;
    min-height: 0 !important;
}

.pc{
	   background:url('../img/bg2.jpg') no-repeat fixed;
    /* height: 500px; */
    width: 100%;
    z-index: 999;
     margin-top:34px;
     position:relative;
     background-size:cover;
}

.pc .bg11{
	padding:50px 10px;
	background:rgba(86,155,227,0.7);
}

.font_4 {
    font: normal normal bold 40px/1.4em raleway,sans-serif;
    color: #2F2E2E;
}

.p-table{background:white;}

.p-table ul{
	padding:20px 20px 3px 20px;
	margin:0;
}

.p-table header,.p-t-f{
	background:rgba(64, 148, 237, 1);
	color:white;
	padding:15px;
	transition: background 0.4s ease 0s;
}

.p-table header{padding:5px 10px;}
.p-table header p{margin:0;}

.p-t-f:hover{
	background:rgb(43,104,156)
}

.p-t-b li{
	color:#A0A09F;
	font:normal normal normal 18px/1.4em raleway,sans-serif;
	padding:9px;
	border-bottom:2px solid rgba(64, 148, 237, 1);
	list-style: none;
}

.p-t-b li:last-child{border:none;}

.pc .col-t{
	width:270px;
	display: inline-block;
	margin:10px 30px 0 30px;
}
#nav2{margin-top:120px;}

#nav2 li{
	display:inline-block;
	border-right: 2px solid rgba(64, 148, 237, 1);
	padding: 5px 30px;
	color: white;
	font:normal normal normal 16px/1.4em raleway,sans-serif
}

#nav2 li a{color: white;
	font:normal normal normal 16px/1.4em raleway,sans-serif}
	
footer{
	background:rgba(50, 65, 88, 1);
	text-align:center;
}

footer ul{
	margin:0;
}

footer li{
	display:inline-block;
	list-style: none;
	color:white;
	font-size:22px;
	padding:10px 15px;
}

footer li a{
	color: white;
}

footer li a:hover{
	color: white;
}


.carousel-control-next {
    right: -10%;
}


.carousel-control-prev {
    left: -10%;
}
#nav33.nav{
	display:block;
}



#nav33 .nav-item {
    display: block !important;
    box-shadow: 1px 1px 1px black;
    border-radius: 100%;
}

#nav33 .nav-item a{
	padding:4px;
	border-radius: 100%;
	border: 2px solid rgba(242, 247, 255, 1);
	margin-bottom:15px;
}

#nav33 .nav-item:hover{background:rgba(242, 247, 255, 1); border-radius:100%;}
#nav33 .active{background:rgba(242, 247, 255, 1) !important; border-radius:100%;}

#nav3{
	 top: 88px;
    /* bottom: 0px; */
    right: 0;
    position: fixed;
    margin: auto;
    z-index: 99999;
    left: 95%;
}

.none{display:none;}
.non{display:none;}
.no{display:none !important;}
.yeap{display:block;}
.visible{visibility: visible;}
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}


#image .col-sm{
	margin-bottom:20px;
}


/* counter style */


.flip-clock-divider .flip-clock-label {
    position: absolute;
    top: 7.5em;
    right: -86px;
    color: black;
    text-shadow: none;
    z-index: 9;
    /* background: black; */
    font-size: 18px;
}

.clock{
	    margin: 0 auto;
    text-align: center;
    position: relative;
    left: 17%;
    transform: translateX(1);
    /* margin-left: -50%; */
    margin-top: 50px;
}


.footer-up{
	bottom: 24px;
    right: 24px;
    /* width: 44px; */
    position: fixed;
    z-index: 50;
    /* height: 40px; */
    background: #32e1da;
    padding: 5px 12px;
    border-radius: 60%;
    z-index: 9999;
}

.counter-block .counter .number {
  
  color: gray !important;
  
  border: 1px solid #f4f4f4;
  text-shadow: 3px 3px 3px black;
}

.footer-up a{color:white;}

.cl1{
	
    margin-top: 150px; margin-left: 50px; z-index: 1;
}

.f-i{
	 margin-top: -70px;
}

#comp-irqduxi8{
	left: 50% !important;
    width: 389px;
    position: absolute;
    top: 93px;
    transform: translateX(-50%);
}

#comp-irqduxie{
	left: 50% !important;
    width: 53px;
    position: absolute;
    top: 126px;
    transform: translateX(-50%);
}

@media screen and (max-width:638px){
	.cl1{ margin-left:0px;}
	.f-i{
	 margin-top:0px;
}
}

@media screen and (max-width:1000px){
	.clock{left:0px;}
}

@media screen and (max-width:990px){
	.nn{display: none !important;}
	#comp-irqduxi4{left:0 !important; width: 100% !important;}
}
#press .container{width: 100% !important;}
#about{
	padding:50px 15px;
}
}

@media screen and (max-width:768px){



}

@media screen and (max-width:770px){
		.flip-clock-divider .flip-clock-label {
    position: absolute;
    top: -1em;
    right: -86px;
    color: black;
    text-shadow: none;
    z-index: 9;
    /* background: black; */
    font-size: 13px;
}

#counter{
	display:block !important;
	margin-top:60px;
}
.clock{display:none;}
	
	.carousel h3{font-size:30px;}
}

@media screen and (max-width:650px){
	.l-1,.l-2,.l-3,.l-4,.l-5{display: none;}
	.sec-1 .text-center{padding:50px 15px 0;}
	.cl1{margin-top:35px;}
	.sec-1{height:auto;}
	.sec-1 h4{font: normal normal bold 30px/1.4em raleway,sans-serif;}
	#nav2{display:none;}
	#nav3{left:90%}
}


@media screen and (max-width:440px){
	iframe{height:180px;}
	#press svg{display:none;}
	#press{height:400px !important;}
	#carouselExampleIndicators{height:260px !important;}
	.pc .col-t{width:auto !important;}
	
}





.modal-header {
    display: -ms-flexbox;
    display: block !important;
    -ms-flex-align: center;
    /* align-items: center; */
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom:none;
    text-align: center;
}

.cls1{
	top: 0;
    position: absolute;
    right: 10px;
    font-size: 45px;
}

.modal-header h5{
	    font-family: avenir-lt-w01_85-heavy1475544,sans-serif;
	    color: rgb(61, 155, 233);
	    font-size:45px;
	    letter-spacing: 0.1em;
}

.modal-footer {
    display: -ms-flexbox;
    display: block !important;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 15px;
    border-top:none;
}

.modal .button{
	margin-bottom: 15px;
}

.modal .button a{
	color:white;
}


#DIV_1 {
    height: 30px;
    left: 0px;
    right: 476px;
    width: 71px;
    perspective-origin: 35.5px 15px;
    transform-origin: 35.5px 15px;
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
    position: absolute;
    margin: 5px 0;
}

#A_2 {
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 22px;
    min-width: 24px;
    text-decoration: none solid rgb(0, 0, 0);
    white-space: nowrap;
    width: 69.0313px;
    column-rule-color: rgb(0, 0, 0);
    perspective-origin: 35.5156px 12px;
    transform-origin: 35.5156px 12px;
    caret-color: rgb(0, 0, 0);
    border: 1px solid rgb(45, 69, 101);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
    outline: rgb(0, 0, 0) none 0px;
}/*#A_2*/

#DIV_3 {
    background-position: 0px 0px;
    cursor: pointer;
    height: 20px;
    white-space: nowrap;
    width: 67.0313px;
    perspective-origin: 34.5156px 11px;
    transform-origin: 34.5156px 11px;
    background: rgba(0, 0, 0, 0) url(https://static.parastorage.com/services/skins/2.1229.79/images/wysiwyg/core/themes/base/bg_fbshare.png) repeat-x scroll 0px 0px / auto padding-box border-box;
    border-top: 1px solid rgb(154, 171, 198);
    border-right: 1px solid rgb(111, 131, 173);
    border-bottom: 1px solid rgb(97, 118, 163);
    border-left: 1px solid rgb(111, 131, 173);
    border-radius: 2px 2px 2px 2px;
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
    margin-top: -23px;
    margin-left: 1px;
}

#SPAN_4 {
    background-position: 5px 3px;
    bottom: 7px;
    cursor: pointer;
    display: block;
    height: 21px;
    left: 2px;
    position: absolute;
    right: 47px;
    top: 2px;
    white-space: nowrap;
    width: 21px;
    perspective-origin: 11px 10.5px;
    transform-origin: 11px 10.5px;
    background: rgba(0, 0, 0, 0) url("https://static.parastorage.com/services/skins/2.1229.79/images/wysiwyg/core/themes/base/facebooklogo.png") no-repeat scroll 5px 3px / auto padding-box border-box;
    border-right: 1px solid rgb(66, 94, 133);
    font: normal normal 400 normal 10px / normal Arial, Helvetica, sans-serif;
}/*#SPAN_4*/

#SPAN_5 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none solid rgb(255, 255, 255);
    text-shadow: rgb(48, 72, 113) 1px 1px 1px;
    white-space: nowrap;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 1px solid rgb(97, 118, 163);
    font: normal normal 400 normal 12px / 21px Arial, Helvetica, sans-serif;
    margin: 0px 0px 0px 22px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 3px 6px;
}/*#SPAN_5*/

.m-ul {
    position: absolute;
    bottom: 0px;
    left: -29px;
    top: 135%;
}

.m-ul li{
	list-style: none;
}

.m-ul iframe {
    height: 20px;
    width: auto;
}



.fixed-top {
    position: fixed;
    top: 0;
    z-index: 1030;
    margin: auto;
    left: auto;
    right: auto;
}

#counter{
	display:none;
}


@media screen and (max-width:991px){
	.fixed-top {
    position: fixed;
    top: 0;
    z-index: 1030;
    margin: auto;
    left: 0;
    right: 0;
}

#nav li {
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
    top: 15px;
    padding: 10px;
    background: rgba(81,123,166,0.8);
    border-bottom: 1px solid #f4f4f4;
}
.carousel-control-next{
	right:0;
}
.carousel-control-prev{left:0;}

.carousel-control-next-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#000' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

#beta{
	padding:30px 15px !important;
}
h1{font-size: 2em;
}

div{max-width:100%;}



.carousel-item img{
	width:100%;
}


















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
