beautifulsoup4==4.6.0
bottlenose==1.1.2
certifi==2017.4.17
chardet==3.0.4
dj-database-url==0.4.1
Django==1.10.7
django-anymail==0.10
django-appconf==1.0.2
django-compressor==2.1.1
enum-compat==0.0.2
enum34==1.1.6
eventlet==0.21.0
greenlet==0.4.12
gunicorn==19.6.0
idna==2.5
lxml==3.8.0
olefile==0.44
pdfkit==0.6.1
psycopg2==2.7.1
python-amazon-simple-product-api==2.2.11
python-dateutil==2.6.1
redis==2.10.5
rcssmin==1.0.6
requests==2.18.1
rjsmin==1.0.12
six==1.10.0
urllib3==1.21.1
whitenoise==3.2
