container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && /opt/python/ondeck/app/ python manage.py makemigrations --noinput"
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && /opt/python/ondeck/app/ python manage.py migrate"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: keydex/wsgi.py