/* This is needed for some mobile phones to display the Google Icon font properly */
.material-icons {
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  font-size: 45px;
  color: $button-paypal-main-color;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}
@media #{$medium-and-up} {
  .navbar-icons {
    position: absolute;
    right: -60px;
    display: flex;
  } 
}

@media #{$small-and-down} {
  .card-margin { 
    margin-left: 5px; 
    margin-right:5px !important;
  }
  .button-padding { 
    margin-bottom: 20px;
  }
}
@media #{$medium-and-up} {
  .card-margin {
    margin-left: 5px; 
    margin-right:20px !important;
  }
}
@media #{$medium-and-down} {
  .card-margin { 
    margin-left: 5px; 
    margin-right:80px !important;
  }
  .navbar-icons {
    display: none;
  } 
}
@media #{$large-and-up} {
  .card-margin { 
    margin-left: 5px;
    margin-right:130px !important;
 }
}
@media #{$extra-large-and-up} {
  .card-margin { 
    margin-left: 5px; 
    margin-right:130px !important;
  }
}


