/* This is needed for some mobile phones to display the Google Icon font properly */
.material-icons {
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  font-size: 45px;
  color: $button-paypal-main-color;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}
@media #{$medium-and-up} {
  .navbar-icons {
    position: absolute;
    right: -60px;
    display: flex;
  } 
}

@media #{$small-and-down} {
  .card-margin { 
    margin-left: 5px; 
    margin-right:5px !important;
  }
  .button-padding { 
    margin-bottom: 20px;
  }
  .margin-features {
    margin-left: 5px !important;
    margin-right: 5px;
    padding-right: 5px !important;
  }
}
@media #{$medium-and-up} {
  .card-margin {
    margin-left: 5px; 
    margin-right:20px !important;
  }
}
@media #{$medium-and-down} {
  .card-margin { 
    margin-left: 5px; 
    margin-right:80px !important;
  }
  .navbar-icons {
    display: none;
  } 
  .margin-features {
    margin-left: 5px !important;
    margin-right: 5px;
    padding-right: 5px !important;
  }
}
@media #{$large-and-up} {
  .card-margin { 
    margin-left: 5px;
    margin-right:130px !important;
 }
 .margin-features {
    margin-left: 10px !important;
    margin-right: 10px;
    padding-right: 5px !important;
  }
}
@media #{$extra-large-and-up} {
  .card-margin { 
    margin-left: 5px; 
    margin-right:130px !important;
  }
  .margin-features {
    margin-left: 10px !important;
    margin-right: 10px;
    padding-right: 5px !important;
  }
}



.capa1 {
  position: absolute;
  transform: rotate(-53deg);
  top: 36px;
  left: -130px;
  z-index: 1;
}

.capa2 {
  position: absolute;
  width: 228px;
  height: 160px;
  transform: skewX(20deg);
  background:linear-gradient(162deg , #32e1da,#32e1da 40%, #208cf0);
  z-index: 1;
}

.text-logo {
  position: absolute;
  font-size: 14px;
  color: white;
  top: 5px;
  left: -86px;
  z-index: 1;
}


