{% extends 'base.html' %}
{% block title %} Email Sent {% endblock %}
{% block content %}
  <div class="row container justify">
    <div class="col s13 m10 offset-m2 l10 offset-l2">     
      <h5>Thank you very much for creating an account with Check My Keywords, we are thrilled to have you on board! </h5>

      <h5>We just sent a verification email to {{email}} Please open that email to verify your email address and you will be checking your keywords in no time!</h5>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock %}
