<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Check Keywords | {% block title %} {% endblock %}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
  {% load sass_tags %}
  {% load static %}

  <link href="{% sass_src 'sass/materialize.scss' %}" rel="stylesheet" type="text/css" />
  {% block css %}
  {% endblock %}
</head>
<body>
  {% include 'navbar.html' %}
  <div class="section no-pad-bot" id="index-banner">
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li style="display:none" {% if message.tags %} class="{{ message.tags }} message-body"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}
    {% block content %}
    {% endblock %}
  </div>




  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/bin/materialize.min.js' %}"></script>
  <script src="{% static 'js/initial.js' %}"></script>
  {% block js %}
  {% endblock js %}

  </body>
</html>
