<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="We check your Amazon products keywords automatically every day and we send you a report if they stop indexing so that you can take inmediate action!">
  <meta name="keywords" content="amazon keyword checker products">
  <meta name="robots" content="index, follow">
  <meta name="web_author" content="Keydex Software">
  <meta name="language" content="en">
  <meta property="og:title" content="Check My Keywords" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.checkmykeywords.com" />
  <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/stripe-checkmykeywords/quack-s3.png" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Check Keywords | {% block title %} {% endblock %}</title>
  {% load static %}
  <link rel="shortcut icon" type="image/png" href="{% static 'img/quack.ico' %}"/>
  
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/materialize-social.css' %}">

  {% load sass_tags %}
  {% load static %}
  {% load raven %}

  <link href="{% sass_src 'sass/materialize.scss' %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/custom_base.css' %}">
  {% block css %}
  {% endblock %}
</head>
<body>
  {% include 'navbar.html' %}
  {% if request.get_full_path == "/dashboard/" %}
  <div class="no-pad-bot" id="index-banner">
    
  {% else %}
  <div class="section no-pad-bot container form-section" id="index-banner">
  {% endif %}
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li style="display:none" {% if message.tags %} class="{{ message.tags }} message-body"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}
    {% block content %}
    {% endblock %}
  </div>
  {% include 'footer.html' %}
  
  



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/bin/materialize.min.js' %}"></script>
  <script src="{% static 'js/initial.js' %}"></script>
  <script src="https://use.fontawesome.com/6781d34411.js"></script>
  <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous"></script>
  <script>Raven.config('{% sentry_public_dsn %}').install()</script>
  <script type="text/javascript">
(function(e,r){function n(e,r){e[r]=function(){e.push([r].concat(Array.prototype.slice.call(arguments,0)))}}function o(){var e=r.location.hostname.match(/[a-z0-9][a-z0-9\-]+\.[a-z\.]{2,6}$/i),n=e?e[0]:null,o="; domain=."+n+"; path=/; expires=" + new Date(new Date().setFullYear(new Date().getFullYear() + 1)).toUTCString();r.cookie=r.referrer&&-1===r.referrer.indexOf(n)?"jaco_referer="+r.referrer+o:"jaco_referer="+t+o}var a="JacoRecorder",t="none";!function(e,r,t,i){if(!t.__VERSION){e[a]=t;for(var c=["init","identify","startRecording","stopRecording","removeUserTracking","setUserInfo","trackEvent"],s=0;s<c.length;s++)n(t,c[s]);o(),t.__VERSION=2.1,t.__INIT_TIME=1*new Date;var f=r.createElement("script");f.async=!0,f.setAttribute("crossorigin","anonymous"),f.src=i;var d=r.getElementsByTagName("head")[0];d.appendChild(f)}}(e,r,e[a]||[],"https://recorder-assets.getjaco.com/recorder_v2.js")}).call(window,window,document);
window.JacoRecorder.init("f6588c33-6f46-4f40-bdfe-c448f50a5cc7");
</script>
{% if request.user.is_authenticated %}
<script>
  window.JacoRecorder.identify('{{request.user.username}}', function(){});
</script>
{% endif %}
  {% block js %}
  {% endblock js %}

  </body>
</html>
