{% extends 'base.html' %}
{% block title %} Change Password {% endblock %}
{% block content %}
<div class="row container">
    <form class="col s13 l6 offset-l3" method="post">
     {% csrf_token %}
      <div class="row">
         <div class="input-field col s13">
          {{ form.password }}
          <label data-error="wrong format" for="password">Password</label>
        </div>
         <div class="input-field col s13">
          {{ form.password_repeated }}
          <label data-error="wrong format" for="password">Repeat Password</label>
        </div>
      </div>
      <div class="row">
        <div class="col l13 s13 center">
          <button class="btn waves-effect waves-light blue-paypal btn-block" type="submit" name="action">Change Password
          </button>
        </div>
      </div>
      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{field.name}}
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{field.name}}
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
      {% endif %}
    </form>
  </div>
{% endblock %}