{% extends 'base.html' %}
{% block title %} Change Password {% endblock %}
{% block content %}
<div class="row container">
  <h3 class="header center main-grey-text">Change Password</h3>
</div>
<div class="row container">
    <form class="col center s13 l13" method="post">
     {% csrf_token %}
      <div class="row">
         <div class="input-field col l5 offset-l4 s13 m7 offset-m3">
         {{ form.password }}
          <label data-error="wrong format" for="password">Password</label>
        </div>
         <div class="input-field col l5 offset-l4 s13 m7 offset-m3">
          {{ form.password_repeated }}
          <label data-error="wrong format" for="password">Repeat Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light blue-paypal btn-block" type="submit" name="action">Change password
      </button>
       {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
           <div class="col l13 m13 s13"> 
            <br>
            <span class="center red-text"><strong>{{ error|escape }} </strong></span>
          </div>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div class="col l13 s13 m13"> 
            <br>
            <span class="center red-text"><strong>{{ error|escape }} </strong></span>
          </div>
        {% endfor %}
      {% endif %}
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
{% endblock %}