{% extends 'base.html' %}
{% block title %} Change Password {% endblock %}
{% block content %}
<div class="row">
    <form class="col s12" method="post">
     {% csrf_token %}
      <div class="row">
         <div class="input-field col s12">
          {{ form.password }}
          <label data-error="wrong format" for="password">Password</label>
        </div>
         <div class="input-field col s12">
          {{ form.password_repeated }}
          <label data-error="wrong format" for="password">Repeat Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light blue-paypal" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
      </button>
      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{field.name}}
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{field.name}}
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
      {% endif %}
    </form>
  </div>
{% endblock %}