{% extends 'base.html' %}
{% block title %} Step 3 Edit{% endblock %}
{% block content %}
<div class="row">
  <div class="col l6 offset-l3 s12 m8 offset-m2">
    <div class="card-content">
      <ul class="stepper horizontal" id="horizontal">
         <li class="step active">
            <!--data-step-label="To step-title!" -->
            <div class="step-title waves-effect waves-dark">Step 1</div>
         </li>
         <li class="step active">
            <div class="step-title waves-effect waves-dark">Step 2</div>
         </li>
         <li class="step active">
            <div class="step-title waves-effect waves-dark">Step 3</div>
         </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col offset-s2">
    <h6 class="main-grey-text">How often do you want to check your product for indexation?</h6>
  </div>
  <form id="form" class="col center s8 offset-s2" method="POST" data-save-url="{% url 'products_save_product' %}" data-poll-url="{% url 'poll_state'%}">
    {% csrf_token %}
      {% for choice in form.choices_group1 %}
      <p>
        {{ choice.tag }}
        <label for="id_choices_group1_{{ forloop.counter0 }}">{{ choice.choice_label }}</label>
      </p>
      {% endfor %}
      <div>
        <h6 class="main-grey-text left">Do you wish to receive an email each time the report is run automatically?</h6>
      </div>
      <br>
      {% for choice in form.choices_group2 %}
      <p>
        {{ choice.tag }}
        <label for="id_choices_group2_{{ forloop.counter0 }}">{{ choice.choice_label }}</label>
      </p>
      {% endfor %}
      <div style="padding-left: 20px">
        {% for choice in form.choices_group3 %}
        <p>
          {{ choice.tag }}
          <label for="id_choices_group3_{{ forloop.counter0 }}">{{ choice.choice_label }}</label>
        </p>
        {% endfor %}
      </div>
      <button type="submit" value="update" class="btn waves-effect waves-light blue-paypal">Update</button>
      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{field.name}}
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{field.name}}
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
      {% endif %}
    </form>
  </div>
{% endblock %}
{% load static %}
{% block css %}
<link href="{% static 'css/materialize-stepper.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js %}
<script src="{% static 'js/progressbar.min.js' %}"></script>
<script src="{% static 'js/progress-config.js' %}"></script>
<script>
  var poll_xhr;
  var willstop = 0;
  function pollData(job_count, task_id, uuid) {
    var task_total = job_count;
    var task_id = task_id;
    var bar = initProgress();
    var poll = function() {
      form = $('#form');
      if (task_id === 'None' || task_total === -1) {
        willstop = 1;
      }
      else {
        $('#progress').show()
        poll_xhr = $.ajax({
          url: form.attr("data-poll-url"),
          type: 'POST',
          data: {
              task_id: task_id,
              task_total: task_total,
              product_uuid: uuid,
              csrfmiddlewaretoken: "{{csrf_token}}",
          },
          success: function(result) {
            console.log(result);
          var result = JSON.parse(result);
          if (result.process_percent === null || result.process_percent === undefined) {
              willstop = 1;
              $('#progress').hide();
              task_total = -1;
              window.location = '/product/detail/'+result.uuid+'/'+(result.historic_id);

           } else {
            bar.set(result.process_percent);
           };
          }
        });
      };
    }
    var refreshIntervalId = setInterval(function() {
      if (willstop === 1){
        clearInterval(refreshIntervalId);
      } else {
        poll();  
      }
    }, 2000);
  };
</script>
<script type="text/javascript">
  $("#saveAndRun, #save-button").on("click", function (e) {  
    e.preventDefault();
    var idEvent = e.target.id;
    $('#saveAndRun').hide();
    $('#save-button').hide();
    
    if (idEvent === 'saveAndRun') {
      $('#progress').show();
    } else {
      $('#loader').show();
    }

    var form = $('#form');
    $.ajax({
      url: form.attr("data-save-url"),
      type : "POST",
      data: form.serialize() + '&'+idEvent+'='+ 'True',
      dataType: 'json',
      success: function (data) {
        console.log(data);
        if (data.uuid !== undefined && data.job_id !== undefined) {
          pollData(data.total_job, data.job_id, data.uuid);
        }
        else if (data.saved === true) {
          window.location = '/dashboard';
        }
        else {
          Materialize.toast('Error saving', 3000);
          $('#saveAndRun').show();
          $('#save-button').show();
          $('#loader').hide();

        }
      },
      error: function(request, status, error) {
        console.log(error);
      }
    });

  });
</script>
<script src="{% static 'js/radio_buttons.js' %}"></script>
{% endblock %}