{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}

{% block content %}
{% load filter_extras %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/pricing.css' %}">
{% endblock %}
<div class="row container">
  <div class="col l7 s12">
    <h2 class="inline">Welcome back, </h2> 
    <h2 class="blue-paypal-text inline"> {{request.user.first_name}}</h2>
  </div>
  <div class="col l3 offset-l3 s12" style="line-height: 7">
    {% if product_count >= 5 and valid == False %}
    <a href="#modal1" class="btn-large waves-light waves-effect orange btn-block btn right-move">
    Upgrade Account
    </a>
    {% else %}
       <a href="{% url 'products_add_product' %}" class="btn-large waves-light waves-effect green btn-block btn right-move">
      + Add product
    </a>
    {% endif %}
 
  </div>
</div>
<div class="row container">
  <div class="col l12">
    {% if product_count == 1 %}
    <h5 class="inline">You are currently checking </h5><h5 class="blue-paypal-text inline">&nbsp {{product_count}}</h5><h5 class="inline"> &nbsp product for indexation</h5>
    <h5>You have 4 products left on your free trial.</h5>
    {% elif product_count > 1 and product_count < 5 %}
     <h5 class="inline">You are currently checking </h5><h5 class="blue-paypal-text inline">&nbsp {{product_count}}</h5><h5 class="inline"> &nbsp products for indexation</h5>
     <div></div>
    {% with 5|substract:product_count as remaining %} 
    <h5 class="inline">You have</h5>
    <h5 class="blue-paypal-text inline"> &nbsp{{ remaining }}&nbsp </h5>
    <h5 class="inline">product{{ remaining|pluralize:",s" }} left on your free trial.</h5>
    {% endwith %}
    {% elif product_count >= 5 and valid == False %}
     <h5 class="inline">You are currently checking </h5><h5 class="blue-paypal-text inline">&nbsp {{product_count}}</h5><h5 class="inline"> &nbsp products for indexation</h5>
    <h5> You don't have any more left on your free trial.  <a href="#modal1" class="">
    Upgrade here </a>to a premium plan for just $5/month and receive unlimited products!</h5>
    {% elif product_count >= 5 and valid == True %}
    <h5 class="inline">You are currently checking </h5><h5 class="blue-paypal-text inline">&nbsp {{product_count}}</h5><h5 class="inline"> &nbsp products for indexation</h5>
    {% endif %}
  </div>
  </div>
<div class="row container">
  <div class="col l13">
    <input type="text" id="search-criteria" onkeyup="search()" placeholder="Search by name or ASIN">
  </div>
</div>
<div class="row container">
  {% for product in products %}
  <div id="{{product.pk}}" class="card card-hover col l3 m6 s12 cursor" onclick="window.document.location='/product/overview/{{product.uuid}}'">
    <div class="card-image waves-effect waves-block waves-light">
      <a href="{% url 'products_overview_product' product.uuid %}">
      <img class="responsive-img"  src="{{product.primary_img}}">
      </a>
    </div>
    <div class="card-content row">
      <div class="card-title justify">
        <a href="{% url 'products_overview_product' product.uuid %}">
        <span data-product="{{product.pk}}" class="grey-text text-darken-4 searchable">{{product.product_name}}</span>  
        </a>
      </div>
      <div class="col l13 m13 s13">
        <span data-product="{{product.pk}}" class="card-subtitle center grey-text disabled-text-text searchable">ASIN: {{product.asin}}</span>
      </div>
      <div class="col l13 m13 s13">
       <p class="button-card btn-flat blue-paypal white-text btn-block-limited float">Indexing: {{product.indexing}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
  {% if products|length == 0 %}
  <br>
  {% endif %}
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4 class="center center-justify">Select Your Plan</h4>
    
      <div class="demo-container">
        <div class="card-wrapper"></div>

        <div class="form-container active">
            <form method="post" id="payment-form" data-settings-url="{% url 'stripe_charge' %}" data-coupon-url="{% url 'stripe_check_coupon' %}"
            data-stripe-key="{{ key }}"
            >
              {% csrf_token %}
            <div class="row">
              <div id="DIV_1" class="data-monthly">
              <div id="DIV_3">
                <div id="DIV_4">
                  <div id="DIV_5">
                  </div>
                  <div id="DIV_6">
                    <div id="DIV_7">
                      <h2 id="H2_8">
                        <span id="SPAN_9"><span id="SPAN_10">$5 Monthly</span></span>
                      </h2>
                    </div>
                    <div id="DIV_11">
                      <h6 id="H6_12">
                        <span id="SPAN_13">Plan</span>
                      </h6>
                    </div>
                  </div>
                </div>
                <div id="DIV_14">
                  <h6 id="H6_15">
                    <span id="SPAN_16">Unlimited ASINs</span>
                  </h6>
                  <h6 id="H6_17">
                    <span id="SPAN_18"><span id="SPAN_19"></span></span>
                  </h6>
                  <h6 id="H6_20">
                    <span id="SPAN_21">Daily listing notifications</span>
                  </h6>
                  <h6 id="H6_22">
                    <span id="SPAN_23"><span id="SPAN_24"></span></span>
                  </h6>
                  <h6 id="H6_25">
                    <span id="SPAN_26">Free setup guidance</span>
                  </h6>
                  <h6 id="H6_27">
                    <span id="SPAN_28"><span id="SPAN_29"></span></span>
                  </h6>
                  <h6 id="H6_30">
                    <span id="SPAN_31">Eligible for promotions</span>
                  </h6>
                  <h6 id="H6_32">
                    <span id="SPAN_33"><span id="SPAN_34"></span></span>
                  </h6>
                  <h6 id="H6_35">
                    <span id="SPAN_36">No expiration period</span>
                  </h6>
                </div>
                <div id="DIV_37">
                  <div id="DIV_38">
                  </div>
                </div>
                <div id="DIV_39">
                  <div id="DIV_40">
                  </div>
                </div>
                <div id="DIV_41">
                  <div id="DIV_42">
                  </div>
                </div>
              </div>
            </div>
            <div id="pricing_DIV_1" class="data-yearly">
              <div id="pricing_DIV_3">
                <div id="pricing_DIV_4">
                  <div id="pricing_DIV_5">
                  </div>
                  <div id="pricing_DIV_6">
                    <div id="pricing_DIV_7">
                      <h2 id="pricing_H2_8">
                        <span id="pricing_SPAN_9"><span id="pricing_SPAN_10">$50 Anually</span></span>
                      </h2>
                    </div>
                    <div id="pricing_DIV_11">
                      <h6 id="pricing_H6_12">
                        <span id="pricing_SPAN_13">Plan</span>
                      </h6>
                    </div>
                  </div>
                </div>
                <div id="pricing_DIV_14">
                  <h6 id="pricing_H6_15">
                    <span id="pricing_SPAN_16">Unlimited ASINs</span>
                  </h6>
                  <h6 id="pricing_H6_17">
                    <span id="pricing_SPAN_18"><span id="pricing_SPAN_19">​</span></span>
                  </h6>
                  <h6 id="pricing_H6_20">
                    <span id="pricing_SPAN_21">Daily listing notifications</span>
                  </h6>
                  <h6 id="pricing_H6_22">
                    <span id="pricing_SPAN_23"><span id="pricing_SPAN_24">​</span></span>
                  </h6>
                  <h6 id="pricing_H6_25">
                    <span id="pricing_SPAN_26">Free setup guidance</span>
                  </h6>
                  <h6 id="pricing_H6_27">
                    <span id="pricing_SPAN_28"><span id="pricing_SPAN_29">​</span></span>
                  </h6>
                  <h6 id="pricing_H6_30">
                    <span id="pricing_SPAN_31">Elegible for promotions</span>
                  </h6>
                  <h6 id="pricing_H6_32">
                    <span id="pricing_SPAN_33"><span id="pricing_SPAN_34">​</span></span>
                  </h6>
                  <h6 id="pricing_H6_35">
                    <span id="pricing_SPAN_36">Save Anually</span>
                  </h6>
                </div>
                <div id="pricing_DIV_37">
                  <div id="pricing_DIV_38">
                  </div>
                </div>
                <div id="pricing_DIV_39">
                  <div id="pricing_DIV_40">
                  </div>
                </div>
                <div id="pricing_DIV_41">
                  <div id="pricing_DIV_42">
                  </div>
                </div>
              </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col l6">
          <a class="waves-effect waves-green btn-flat blue center data-monthly" style="width: 100%">Monthly</a>
      </div>
        <div class="col l6 offset-l1">
          <a  class="waves-effect waves-green btn-flat blue center data-yearly" style="width: 100%">Anually</a>
      </div>
    </div>
    <div id="loader" class="row hidden">
      <div class="col center offset-l6">
         <div class="preloader-wrapper active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </form>
  </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/search.js' %}"> </script>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
  var handler = StripeCheckout.configure({
    key: $('#payment-form').attr('data-stripe-key'),
    image: "https://s3-us-west-2.amazonaws.com/stripe-checkmykeywords/quack-s3.png",
    name: "Check My Keywords",
    panelLabel: "Subscribe",
    allowRememberMe: false,
    locale: 'auto',
    token: function(token) {
      $('#loader').hide();
      $('#submitbutton').show();
      // Send the token to your server
      formpay = $('#payment-form');
      $.ajax({
        url: formpay.attr("data-settings-url"),
        type : "POST",
        data: formpay.serialize() + '&token='+ JSON.stringify(token),
        dataType: 'json',
        success: function (data) {
          if (data.valid === true) {
            Materialize.toast('Payment Accepted', 3000);
            $('#loader').hide();
            $('#submitbutton').show();
            $('#modal1').modal('close');
            Materialize.toast('Upgrading Account', 3000);
            location.reload();
          }
          else {
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = data.message;
            $('#loader').hide();
            $('#submitbutton').show();
          }
        },
        error: function(request, status, error) {
          Materialize.toast('Server error', 3000);
          $('#loader').hide();
          $('#submitbutton').show();
        }
      });
    }
  });

$('.data-yearly, .data-monthly').on('click', function(event) {
  event.preventDefault();
  $('#loader').show();
  $('.data-yearly').hide();
  $('.data-monthly').hide();
  setInterval(function(){
    $('#loader').hide();
      $('.data-yearly').show();
      $('.data-monthly').show();
  }, 4000);
  formpay = $('#payment-form');
  var name = 'Yearly Plan ($47 per year)';
  var value = 1;
  var charge_value = 4700;
  var data = $(this).attr('class');
  if (data === 'data-yearly') {
    name = 'Yearly Plan ($47 per year)';
    value = 2;
    charge_value = 4700;
  }
  else if (data === 'data-monthly') {
    name = 'Monthly Plan ($5 per month)';
    value = 1;
    charge_value = 500;
  }
  handler.open({
    description: name,
    zipCode: true,
    amount: charge_value
  });
})
</script>
<script src="{% static 'js/bin/stripe-coupon.js' %}"> </script>
{% endblock %}