{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
{% load filter_extras %}
{% load static %}
<div class="row container">
  <div class="col l7 s12">
    <h2 class="inline">Welcome back, </h2> 
    <h2 class="blue-paypal-text inline"> {{request.user.first_name}}</h2>
  </div>
  <div class="col l3 offset-l3 s12" style="line-height: 7">
    {% if product_count >= 5 and valid == False %}
    <a href="#modal1" class="btn-large waves-light waves-effect orange btn-block btn right-move">
    Upgrade Account
    </a>
    {% else %}
       <a href="{% url 'products_add_product' %}" class="btn-large waves-light waves-effect green btn-block btn right-move">
      + Add product
    </a>
    {% endif %}
 
  </div>
</div>
<div class="row container">
  <div class="col l12">
    {% if product_count == 1 %}
    <h5 class="inline">You are currently checking </h5><h5 class="blue-paypal-text inline">&nbsp {{product_count}}</h5><h5 class="inline"> &nbsp product for indexation</h5>
    <h5>You have 4 products left on your free trial.</h5>
    {% elif product_count > 1 and product_count < 5 %}
     <h5 class="inline">You are currently checking </h5><h5 class="blue-paypal-text inline">&nbsp {{product_count}}</h5><h5 class="inline"> &nbsp products for indexation</h5>
     <div></div>
    {% with 5|substract:product_count as remaining %} 
    <h5 class="inline">You have</h5>
    <h5 class="blue-paypal-text inline"> &nbsp{{ remaining }}&nbsp </h5>
    <h5 class="inline">product{{ remaining|pluralize:",s" }} left on your free trial.</h5>
    {% endwith %}
    {% elif product_count >= 5 and valid == False %}
     <h5 class="inline">You are currently checking </h5><h5 class="blue-paypal-text inline">&nbsp {{product_count}}</h5><h5 class="inline"> &nbsp products for indexation</h5>
    <h5> You don't have any more left on your free trial.  <a href="#modal1" class="">
    Upgrade here </a>to a premium plan for just $5/month and receive unlimited products!</h5>
    {% elif product_count >= 5 and valid == True %}
    <h5 class="inline">You are currently checking </h5><h5 class="blue-paypal-text inline">&nbsp {{product_count}}</h5><h5 class="inline"> &nbsp products for indexation</h5>
    {% endif %}
  </div>
  </div>
<div class="row container">
  <div class="col l13">
    <input type="text" id="search-criteria" onkeyup="search()" placeholder="Search by name or ASIN">
  </div>
</div>
<div class="row container">
  {% for product in products %}
  <div class="card card-hover col l3 m6 s12 cursor" onclick="window.document.location='/product/overview/{{product.uuid}}'">
    <div class="card-image waves-effect waves-block waves-light">
      <a href="{% url 'products_overview_product' product.uuid %}">
      <img class="responsive-img"  src="{{product.primary_img}}">
      </a>
    </div>
    <div class="card-content row">
      <div class="card-title justify">
        <a href="{% url 'products_overview_product' product.uuid %}">
        <span data-product="{{product.pk}}" class="grey-text text-darken-4 searchable">{{product.product_name}}</span>  
        </a>
      </div>
      <div class="col l13 m13 s13">
        <span data-product="{{product.pk}}" class="card-subtitle center grey-text disabled-text-text searchable">ASIN: {{product.asin}}</span>
      </div>
      <div class="col l13 m13 s13">
       <p class="button-card btn-flat blue-paypal white-text btn-block-limited float">Indexing: {{product.indexing}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
  {% if products|length == 0 %}
  <br>
  {% endif %}
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Select Your Plan</h4>
    
      <div class="demo-container">
        <div class="card-wrapper"></div>

        <div class="form-container active">
            <form method="post" id="payment-form" data-settings-url="{% url 'stripe_charge' %}" data-coupon-url="{% url 'stripe_check_coupon' %}"
            data-stripe-key="{{ key }}"
            >
              {% csrf_token %}
                <div class="input-field col s13 m13 l13">
                  {{form.plan}}
                  <label>Plan</label>
                </div>
                 <div class="group">
                  <label>
                    <h5 id="showTotal" class="black-text hidden">Total: </h5>
                  </label>
                </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button id="submitbutton" type="submit" class="waves-effect waves-green btn-flat green center" style="width: 100%">Next</button>
    <div id="loader" class="row hidden">
      <div class="col center offset-l6">
         <div class="preloader-wrapper active">
          <div class="spinner-layer spinner-orange-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </form>
  </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/search.js' %}"> </script>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>

<script>


document.getElementById('payment-form').addEventListener('submit', function(event) {
  event.preventDefault();
  $('#loader').show();
  $('#submitbutton').hide();
  setInterval(function(){
    $('#loader').hide();
    $('#submitbutton').show();
  }, 5000);
  formpay = $('#payment-form');
  var name = 'Yearly Plan ($47 per year)';
  var value = 1;
  var charge_value = 47;
  var data = JSON.parse(JSON.stringify(formpay.serializeArray()));

  for (var i = 0; i < data.length; i++) {
    if (data[i].name == 'plan') {
      if (data[i].value == '2') {
        name = 'Yearly Plan ($47 per year)';
        value = 2;
        charge_value = '4700';
      }
      else if (data[i].value == '1') {
        name = 'Monthly Plan ($5 per month)';
        value = 1;
        charge_value = '500';

      }
    }
  }
  var handler = StripeCheckout.configure({
    key: $('#payment-form').attr('data-stripe-key'),
    image: "https://s3-us-west-2.amazonaws.com/stripe-checkmykeywords/quack-s3.png",
    name: "Check My Keywords",
    description: name,
    panelLabel: "Subscribe",
    allowRememberMe: false,
    locale: 'auto',
    token: function(token) {
      $('#loader').hide();
      $('#submitbutton').show();
      // Send the token to your server
      formpay = $('#payment-form');
      $.ajax({
        url: formpay.attr("data-settings-url"),
        type : "POST",
        data: formpay.serialize() + '&token='+ JSON.stringify(token),
        dataType: 'json',
        success: function (data) {
          if (data.valid === true) {
            Materialize.toast('Payment Accepted', 3000);
            $('#loader').hide();
            $('#submitbutton').show();
            $('#modal1').modal('close');
            Materialize.toast('Upgrading Account', 3000);
            location.reload();
          }
          else {
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = data.message;
            $('#loader').hide();
            $('#submitbutton').show();
          }
        },
        error: function(request, status, error) {
          Materialize.toast('Server error', 3000);
          $('#loader').hide();
          $('#submitbutton').show();
        }
      });
    }
  });
  handler.open();
})
</script>
<script src="{% static 'js/bin/stripe-coupon.js' %}"> </script>
{% endblock %}