<footer class="page-footer footer top">
 <div class="row container">
    <div class="col s12 m6 l3"><p>Solutions</p></div>
    <div class="col s12 m6 l3"><p>Platform</p></div>
    <div class="col s12 m6 l3"><p>Company</p></div>
    <div class="col s12 m6 l3"><p>Resources</p></div>
  </div>
  <div class="footer-copyright footer bottom">
    <a class="waves-effect waves-light social-icon btn twitter twitter-background">
  <i class="fa fa-twitter"></i></a>
    <div class="container">
    Powered by <a class="orange-text text-lighten-3" href="#">Keydex Software</a> &copy; {% now "Y" %}
    </div>
  </div>
</footer>
