{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container">
  <h1 class="header center main-grey-text">Are your keywords indexing</h1>
  <h1 class="header center main-grey-text">for search results?</h1> 
  <div class="row center">
    <h5 class="header col s8 offset-s2 main-grey-text light justify">This tool automatically checks for you every day and sends you a report if the stop indexing, so that you can take inmediate action!</h5>
    <h5 class="header col s8 offset-s2 light justify blue-paypal-text">We are giving Check My Keywords for FREE for the first 500 users. forever.</h5>
  </div>
  <div class="row center">
    <a href="{% url 'users_login_user' %}" class="btn-large waves-effect waves-light blue-paypal">Start checking now</a>
  </div>
  <div class="row center">
    <div class="col s13">
      <p class="light">Don't have an account yet? <a href="{% url 'users_create_user' %}">Sign up now.</a></p>
    </div>
  </div>
</div>
</div>
{% endblock %}