<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Keydex</a>
  
    <ul class="right hide-on-med-and-down">
    {% if request.user.is_authenticated %}
    <li><h7 class="main-grey-text">Welcome, </h7><h7 class="blue-paypal-text">{{ request.user.first_name }} {{ request.user.last_name }}</h7></li>
    {% else %}
    <li><a class="btn-paypal waves-effect waves-light" href="#">Log In</a></li>
    {% endif %}
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a class="btn-paypal waves-effect waves-light" href="#">Log In</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>