{% extends 'base.html' %}
{% block title %} Step 2 {% endblock %}
{% load filter_extras %}
{% block content %}
 <div class="page-title-wrap">
    <div class="container">
        <h1 class="page-title">Product Edit</h1>
    </div>
</div>
<div class="section no-pad-bot container add-product" id="index-banner">
  <div class="row">
      <div class="col l6 offset-l3 m9 offset-m2 s12">
        <div class="card-content">
        <ul class="stepper horizontal" id="horizontal">
          <li class="step">
              <!--data-step-label="To step-title!" -->
              <div class="step-title number-wrap waves-dark"><span class="hide-on-small-only">Step 1</span></div>
           </li>
           <li class="step active">
              <div class="step-title number-wrap waves-dark"><span class="hide-on-small-only">Step 2</span></div>
           </li>
           <li class="step">
              <div class="step-title number-wrap waves-dark"><span class="hide-on-small-only">Step 3</span></div>
           </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row valign-wrapper">
    <div class="col l4 m4 s12">
        <div class="card-image">
          <img class="responsive-img" src="{{ product.primary_img}}" style="margin-top: 10px;">
      </div>
    </div>
    <div class="col l8 m8 s12 left-align">
      <h3 class="main-grey-text light">
        {{product.product_name | title}}
      </h3>
      <h7 class="disabled-text-text">
        ASIN: {{ product.asin }}
      </h7>
    </div>
  </div>
  <div class="row">
    <div class="col l4 m12 s12 add-keywords">
      <h5 class="left">Enter keywords or phrases</h5>
    <form id="form" data-keywords-url="{% url 'products_edit_product' product.uuid %}" method="post">
      <div class="input-field">
        <div class="select-wrapper">
        <select id="select_type">
          <option value="" disabled>Choose your type</option>
          <option value="keyword" selected>Keyword</option>
          <option value="phrase">Phrase</option>
        </select>
        </div>
      </div>
     <div class="input-field">
      <textarea id="textarea" placeholder="Copy paste here your keywords
      One keyword per line"></textarea>
     </div>
     <div class="input-field">
        <button class="btn waves-effect waves-light blue-paypal btn-block" type="submit" name="action">Add these keywords
        </button>
      </div>
      <div class="input-field">

     <button class="btn waves-effect waves-light blue-paypal btn-block finish-button" type="submit" name="action">Update and finish
     </button>
       </a>
     <a href="{% url 'products_edit_cron' product.uuid %}" class="btn waves-effect waves-light green btn-block">next
     </a>
      </div>
    </form>
  </div>
   <div class="col l8 m12 s12">
      <table class="striped keywords-table">
        <thead class="blue-grey lighten-2 white-text">
            <tr>
              <th>Keyword</th>
              <th>Type</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="table">
            
            {% for keyword in product.keywords %}
            <tr>
              <td> {{ keyword }}</td>
              <td> Keyword </td>
              <td><i data-row="{{ forloop.counter}}" class='small material-icons'>close</i></td>
            </tr>
            
            {% endfor %}
            {% with product.keywords|length  as count%}
            {% for phrase in product.phrases %}
            <tr>
              <td> {{ phrase }}</td>
              <td> Phrase </td>
              <td><i data-row="{{ count|add:'forloop.counter' }}" class='small material-icons'>close</i></td>
            </tr>
            
            {% endfor %}

            {% endwith %}
          </tbody>
        </table>
        
      </div>
    </div>
    <div class="row container">
      <div class="col s12 l13 m13">
      <a href="{% url 'products_overview_product' product.uuid %}" class="btn waves-effect waves-light green btn-block">Back
      </a>
     <button class="btn waves-effect waves-light blue-paypal btn-block finish-button" type="submit" name="action">Update and finish
     </button>
       </a>
     <a href="{% url 'products_edit_cron' product.uuid %}" class="btn waves-effect waves-light green btn-block">next
     </a>


      </div>
    </div>
  </form>
</div>
</div>
{% endblock %}
{% load static %}
{% block css %}
<link href="{% static 'css/materialize-stepper.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js %}
<script src="{% static 'js/asins.js' %}"></script>
<script>
  var data = [];
  $('#textarea').keyup(function(event) {
    var type = $('#select_type').find(":selected").val();
    if (event.keyCode === 32 && type === 'keyword') {
      var txt = $('#textarea')
      txt.val(txt.val() + "\n");
    }

  });
  $('form').on('submit', function(event) {
    event.preventDefault();
    var lines = this.textarea.value.split('\n');
    var type = $('select').find(":selected").text();
    if (lines.length === 0 && this.textarea.value !== '' && data.length <= 250 && !data.includes(this.textarea.value.toLowerCase())) {
      var row = table.insertRow(-1);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      var cell3 = row .insertCell(2);
      cell1.innerHTML = this.textarea.value.trim().replace(/[^\x00-\x7F]/g, "");
      cell2.innerHTML = type;
      cell3.innerHTML = "<td><i class='small material-icons'>close</i></td>";

    }
    var table = document.getElementById('table');
    for(var i = 0; i < lines.length; i++) {
      var text = lines[i].trim();
      if (text === '' || data.includes(text.toLowerCase())) {
        continue;
      }
      if (data.length > 250) {
        Materialize.toast('Reached maximum 250 keywords for a product', 3000);
        continue;
      }
      
      var row = table.insertRow(-1);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      var cell3 = row .insertCell(2);
      cell1.innerHTML = text;
      cell2.innerHTML = type;
      cell3.innerHTML = "<td><i class='small material-icons'>close</i></td>";
      data.push(text.toLowerCase());
    }
    this.textarea.value = '';
  });
  $(document).on('click', '.material-icons', function(event) {
    var p = $(this).closest('tr');
    var tds = p[0].getElementsByTagName('td');
    var index = data.indexOf(tds[0].innerHTML.trim());
    if (index > -1) {
      data.splice(index, 1);
    }
    var deleteRow = $(this).closest('tr').index()
    var table = document.getElementById('table');
    var row = table.deleteRow(deleteRow);
  });
  $('select').on('change', function() {
    var txt = $('#textarea')
    txt.val('');
    var type = $('#select_type').find(':selected').val();
    if (type === 'phrase') {
      txt.prop('placeholder', "Copy paste here your phrases \nOne phrase per line");
    } else {
      txt.prop('placeholder', 'Copy paste here your keywords \nOne keyword per line');
    }
  });
  $('#textarea').bind('paste', function() {
    setTimeout(function() {
      var type = $('#select_type').find(':selected').val();
      if (type === 'keyword') {
        var txt = $('#textarea');
        var splitted = txt.val().split(' ');
        for (i = 0; i < splitted.length; i++) {
          if (i === 0) {
            txt.val(splitted[i].toLowerCase().replace(/[^\x00-\x7F]/g, " ") + "\n");
          } else {
            txt.val(txt.val() + splitted[i].toLowerCase().replace(/[^\x00-\x7F]/g, " ") + "\n");
          }
        }
      }
    }, 20);
  });
</script>
<script>
  //For getting CSRF token
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
         var cookie = jQuery.trim(cookies[i]);
    // Does this cookie string begin with the name we want?
    if (cookie.substring(0, name.length + 1) == (name + '=')) {
      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
       }
      }
    }
  return cookieValue;
}
</script>
<script>
  $(".finish-button").on("click", function (e) {  
    e.preventDefault();
    $('#chip-button').hide();
    $('#loader').show();
    table = document.getElementById('table');
    var keywords = [];
    var phrases = [];
    for (var i = 0; i < table.rows.length; i++) {
      var tds = table.rows[i].getElementsByTagName('td');
      if (tds[1].innerText === 'Keyword' && keywords.includes(tds[0].innerText.trim()) === false) {
        keywords.push(tds[0].innerText.trim());
      }
      else if (tds[1].innerText === 'Phrase' && !phrases.includes(tds[0].innerText.trim())) {
        phrases.push(tds[0].innerText.trim());
      }
    }
    var form = $('form');
    $.ajax({
      url: form.attr("data-keywords-url"),
      type : "POST",
      data: { 
        csrfmiddlewaretoken : getCookie('csrftoken'), 
        chips_keywords: JSON.stringify(keywords),
        chips_phrases: JSON.stringify(phrases) 
      },
      dataType: 'json',
      success: function (data) {
     
        if (data.data === true) {
           Materialize.toast('Product updated', 3000);
          $('#chip-button').show();
          $('#loader').hide();
        }

      },
      error: function(request, status, error) {
        console.log(error);
      }
    });

  });
</script>
{% endblock js %}
