{% extends 'base.html' %}
{% block title %} Product {% endblock %}
{% block content %}
 <div class="page-title-wrap">
      <div class="container">
            <h1 class="page-title">Product Detail</h1>
      </div>
</div>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row">
        <div class="col l12">
              <h6 class="blue-paypal-text center">Your product has been added successfully.</h6>
              <h5 class="main-grey-text center">Here are your results!</h5>
        </div>
      </div>
    </div>
<div class="row container single-product">
    <div class="col s12 l4 m4">
      <div class="">
        <div class="col l13 m13 s13">
          <div class="waves-effect waves-block waves-light">
            <img class="responsive-img"  src="{{product.primary_img}}">
          </div>
          <div class="row">
            <div class="product-name">
              <span data-product="{{product.pk}}" class="grey-text text-darken-4 searchable">{{product.product_name}}</span>  
            </div>
            <div class="product-asin">
              <span data-product="{{product.pk}}" class="card-subtitle center grey-text disabled-text-text searchable">ASIN: {{product.asin}}</span>
            </div>
            <div class="row">
              <div class="col l12 m12 s12">
                <a href="{% url 'dashboard_product_indexing' product.uuid %}" class="btn waves-effect waves-light blue-paypal btn-block">Check Now</a>
              </div>
            </div>
            <div class="row">
              <div class="col l12 m12 s12 product-button">
                <a href="{% url 'products_edit_product' product.uuid %}" class="btn-small waves-effect waves-light green btn-block">Edit</a>
                <a href="#modal1" id="delete-hide" class="btn-small waves-effect waves-light red accent-2 btn-block delete-btn">Delete</a>
                <div id="loader" class="preloader-wrapper small active" style="display: none;">
                  <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 l8 m8">
      <div class="card-wrapper clearfix">
        <div class="col l4 m4 s12 center">
          <div class="card green">
          <h3 class="white-text">{{indexing_data.indexed}}%</h3>
          <span class="white-text"><strong>Indexed ( {{indexing_data.indexed_count}} )</strong></span>
          </div>
        </div>
       <div class="col l4 m4 s12 center">
          <div class="card yellow accent-4">
        <h3 class="white-text">{{indexing_data.not_indexed}}%</h3>
        <span class="white-text"><strong>Not indexed  ( {{indexing_data.not_indexed_count}} )</strong></span>
      </div>
      </div>
     <div class="col l4 m4 s12 center">
        <div class="card blue-paypal">
        <h3 class="white-text">{{indexing_data.count}}</h3>
        <span class="white-text"><strong>All Keywords</strong></span>
      </div>
      </div>
    </div>
  </div>
   <div class="col s12 l8 m8">
    <table class="striped">
          <thead class="blue-grey lighten-2 white-text">
          <tr>
            <th>#</th>
            <th>Keyword or phrase</th>
            <th>Indexed</th>
          </tr>
        </thead>

        <tbody>
          {% for keyword in keywords %}
          <tr>
            <td>
              {% if keyword.indexing == 'True' %}
                <div class="green circle table-circle"></div>
              {% elif keyword.indexing == 'False' %}
                <div class="red circle table-circle"></div>
              {% else %}
                <div class="grey circle table-circle"></div>
              {% endif %}
              {{ forloop.counter }}
            </td>
            <td>{{ keyword.keyword }}</td>
            <td>{{ keyword.indexing }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
<div class="row container center">
    <a href="{% url 'dashboard' %}" class="btn btn-large waves-effect waves-light blue-paypal">Go to dashboard</a>
</div>
</div>
 <!-- Modal Structure -->
<div id="modal2" class="modal container" data-product-id="{{ product.uuid }}">
    <div class="modal-content">
      <h4>Delete Product</h4>
      <p>All keywords and associated indexing information will be deleted</p>
    </div>
    <div class="modal-footer">
      <form method="post" action="{% url 'products_delete_product' product.pk %}">
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat black-text">Cancel</a>
        {% csrf_token %}
        <button id="delete" type="submit" value="submit" class="modal-action modal-close waves-effect waves-green btn-flat red-text">Yes, Delete all</button>
      </form>
    </div>
  </div>
{% endblock %}
{% block js %}
<script>
  $(document).ready(function() {
     $('.modal').modal() ;
     $('#delete').on('click', function (e) {
       $('#delete-hide').hide();
       $('#loader').show();
     });
   });
</script>
{% endblock %}