{% extends 'base.html' %}
{% block title %} Overview {% endblock %}
{% load filter_extras %}
{% block content %}
<div class="row container">
  <h3 class="header center main-grey-text">Activity Log</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col s13 l3 m4 offset-s3 offset-m5">
      <div class="">
        <div class="card col l13 m13 s13">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="responsive-img"  src="{{product.primary_img}}">
          </div>
          <div class="card-content row">
            <div class="card-title justify">
              <span data-product="{{product.pk}}" class="grey-text text-darken-4 searchable">{{product.product_name}}</span>  
            </div>
            <div class="col l13 m13 s13">
              <span data-product="{{product.pk}}" class="card-subtitle center grey-text disabled-text-text searchable">ASIN: {{product.asin}}</span>
            </div>
            <div class="row">
              <div class="col l13 m13 s13">
                <a href="{% url 'dashboard_product_indexing' product.uuid %}" class="btn waves-effect waves-light blue-paypal btn-block">Check Now</a>
              </div>
            </div>
            <div class="row">
              <div class="col l6 m6 s13">
                <a href="{% url 'products_edit_product' product.uuid %}" class="btn-small waves-effect waves-light green btn-block">Edit</a>
              </div>
              <div class="col l1 m2 s13 margin-delete">
                <a href="#modal1" id="delete-hide" class="red-text waves-effect">Delete</a>
                <div id="loader" class="preloader-wrapper small active" style="display: none;">
                  <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col l10 s13">
      <table class="bordered striped highlight">
        <thead class="detail-blue white-text">
          <tr>
            <th>Date and time (UTC)</th>
            <th>Results</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          {% for historic in data %}
          <tr class="cursor" onclick="window.document.location='/product/detail/{{product.uuid}}/{{historic.id|product_detail}}'">
            <td>{{ historic.indexed_date|date:'M d Y - H:i'}}</td>
            <td>{{ historic.indexing_rate }} %</td>
            <td><a class="cursor" href="{% url 'products_export_detail' product.uuid historic.id|product_detail %}"><i class="material-icons">cloud_download</i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if not historic %}
      <div class="center-justify center">
        <h4 class="disabled-text-text">There is no data, yet.</h4>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col l2 m1 s1 ">
      <div id="progress" class="progress_bar center" style="display: none"></div>
    </div>
  </div>
  <!-- Modal Structure -->
  <div id="modal1" class="modal container" data-poll-url="{% url 'poll_state'%}" data-product-id="{{ product.uuid }}">
    <div class="modal-content">
      <h4>Delete Product</h4>
      <p>All keywords and associated indexing information will be deleted</p>
    </div>
    <div class="modal-footer">
      <form method="post" action="{% url 'products_delete_product' product.pk %}">
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat black-text">Cancel</a>
        {% csrf_token %}
        <button id="delete" type="submit" value="submit" class="modal-action modal-close waves-effect waves-green btn-flat red-text">Yes, Delete all</button>
      </form>
    </div>
  </div>
</div>
<ul>
  {% for job in jobs %}
  <li style='display: none'>{{job}}</li>
  {% endfor %}
</ul>
{% endblock %}
{% load static %}
{% block js %}
<script>
  $(document).ready(function() {
     $('.modal').modal() ;
     $('#delete').on('click', function (e) {
       $('#delete-hide').hide();
       $('#loader').show();
     });
   });
</script>
<script src="{% static 'js/progressbar.min.js' %}"></script>
<script src="{% static 'js/progress-config.js' %}"></script><script>
  var poll_xhr;
  var willstop = 0;
  (function() {
    var task_total = "{{ job_count | safe }}";
    var task_id = "{{ task_id | safe }}";
    var bar = initProgress();
    var poll = function() {
      form = $('#modal1');
      if (task_id === 'None' || task_total === -1) {
        willstop = 1;
      }
      else {
        $('#progress').show()
        poll_xhr = $.ajax({
          url: form.attr("data-poll-url"),
          type: 'POST',
          data: {
              task_id: task_id,
              task_total: task_total,
              product_uuid: form.attr("data-product-id"),
              csrfmiddlewaretoken: "{{csrf_token}}",
          },
          success: function(result) {
          var result = JSON.parse(result);
          if (result.process_percent === null || result.process_percent === undefined) {
              willstop = 1;
              $('#progress').hide();
              task_total = -1;
              location.reload(true);
           } else {
            bar.set(result.process_percent);
           };
          }
        });
      };
    }
    var refreshIntervalId = setInterval(function() {
      if (willstop === 1){
        clearInterval(refreshIntervalId);
      } else {
        poll();  
      }
    }, 2000);
  })();
</script>
{% endblock %}