{% extends 'base.html' %}
{% block title %} Reset Password {% endblock %}
{% block content %}
<div class="row">
    <div class="col l6 offset-l3 s12 m6 offset-m3 card">
        <div class="card-content">
            <h5 class="center form-title"><i class="material-icons" style="color: white">vpn_key</i> Reset Password</h5>
            <form method="post">
     {% csrf_token %}
      <div class="row">
         <div class="input-field col l5 offset-l4 s13 m7 offset-m3">
          {{ form.username_or_email }}
          <label data-error="wrong format" for="username">Username or email</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light blue-paypal btn-block" type="submit" name="action">Recover
      </button>
       {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
           <div class="col l13 m13 s13"> 
            <br>
            <span class="center red-text"><strong>{{ error|escape }} </strong></span>
          </div>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div class="col l13 s13 m13"> 
            <br>
            <span class="center red-text"><strong>{{ error|escape }} </strong></span>
          </div>
        {% endfor %}
      {% endif %}
    </form>
  </div>
{% endblock %}