{% extends 'base.html' %}
{% block title %} Reset Password {% endblock %}
{% block content %}
<div class="row container">
    <form class="col center s13 l13" method="post">
     {% csrf_token %}
      <div class="row">
         <div class="input-field col offset-l3 l6 s13">
          {{ form.username_or_email }}
          <label data-error="wrong format" for="username">Username or email</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light blue-paypal btn-block" type="submit" name="action">Submit
      </button>
       {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
           <div class="col l13 m13 s13"> 
            <br>
            <span class="center red-text"><strong>{{ error|escape }} </strong></span>
          </div>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div class="col l13 s13 m13"> 
            <br>
            <span class="center red-text"><strong>{{ error|escape }} </strong></span>
          </div>
        {% endfor %}
      {% endif %}
    </form>
  </div>
{% endblock %}