{% extends 'base.html' %}
{% block title %} Sign Up {% endblock %}
{% block content %}
   <div class="row">
      <div class="col l6 offset-l3 s12 m6 offset-m3 card">
        <div class="card-content">
          <h5 class="center form-title"><i class="material-icons" style="color:white;">perm_identity</i> Sign up</h5>
          <form  id="signup-form" method="post" data-username-url="{% url 'users_check_username' %}">
    {% csrf_token %}
    {% for field in user_form %}
      <div class="input-field">
        {{ field }}
        {% if field.name == 'username' %}
          <label class="active" for="id_{{ field.name }}" data-error="username is taken" data-success="username is available">{{ field.label }}</label>
        {% elif field.name == 'password' %}
          <label class="active" for="id_{{ field.name }}" data-error="password doesn't match" data-success="valid">{{ field.label }}</label>
        {% elif field.name == 'password2' %}
          <label class="active" for="id_{{ field.name }}" data-error="password doesn't match" data-success="valid">{{ field.label }}</label>
        {% else %}
           <label class="active" for="id_{{ field.name }}" data-error="invalid input" data-success="valid">{{ field.label }}</label>
        {% endif %}
       
        {% for error in field.errors %}
          <span class="error-text" style="postition: absolute; top: 0px;">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}
    <div class="input-field">
        <button onClick="ga('send', 'event', 'account', 'Create account')" class="btn waves-effect waves-light blue-paypal btn-block" type="submit" name="action">Sign Up
        </button>
    </div>
  </form>
  </div>
</div>
</div>
{% endblock %}
{% block js %}
  <script>
   document.getElementsByName('username')[0].addEventListener('keyup', function(e) {
    e.preventDefault();
    var formpay = $('.form');
    $.ajax({
        url: formpay.attr("data-username-url"),
        type : "POST",
        data: formpay.serialize(),
        dataType: 'json',
        success: function (data) {
          console.log(data);
          if (data === true) {
            $('#id_username').removeClass('invalid');
            $('#id_username').addClass('valid');
            
          }
          else {
            $('#id_username').removeClass('valid');
            $('#id_username').addClass('invalid');
            
          }
        },
        error: function(request, status, error) {
          console.error('request error');
        }
      });
  });
  $('#id_password2').on('change', function() {
    var val1 = $('#id_password2').val();
    var val2 = $('#id_password1').val();
    if (val1 !== val2) {
      $('#id_password2').addClass('invalid');
      $('#id_password1').addClass('invalid');
    } else {
      $('#id_password2').removeClass('invalid');
      $('#id_password1').removeClass('invalid');
      $('#id_password2').addClass('valid');
      $('#id_password1').addClass('valid');
    }
  });
  </script>
{% endblock %}