{% extends 'base.html' %}
{% block title %} Step 1 {% endblock %}
{% block content %}
<div class="row center container">
  <div class="col l6 offset-l4 s13 m8 offset-m2" style="">
    <div class="card-content">
      <ul class="stepper horizontal" id="horizontal">
         <li class="step active">
            <!--data-step-label="To step-title!" -->
            <div class="step-title number-wrap waves-dark"><span class="hide-on-small-only">Step 1</span></div>
         </li>
         <li class="step">
            <div class="step-title number-wrap waves-dark"><span class="hide-on-small-only">Step 2</span></div>
         </li>
         <li class="step">
            <div class="step-title number-wrap waves-dark"><span class="hide-on-small-only">Step 3</span></div>
         </li>
      </ul>
    </div>
  </div>
</div>
<div class="row container">
  <div class="col l10 offset-l2 s13 m10 offset-m2" style="position: relative; left: -39px;">
    <h3 class="header center-align main-grey-text">Choose Amazon Marketplace & ASIN</h3>
  </div>
</div>

<div class="row">
  <div class="col s13 l13 m13">
    <form class="col center s13 l6 offset-l4 offset-s2" method="post" style="position: relative; left: -60px;">
     {% csrf_token %}
      <div class="input-field col s13 m13 l13">
      {{form.select_choices}}
      <label style="margin-top: -10px;">MarketPlace</label>
    </div>
      <div class="input-field col s13 l13 ">
       <label style="margin-top: 12px; font-size: 1.2rem;" class="label-pointer" style="font-size: 1.2rem;">Your product's asin <a class="tooltipped" data-tooltip="Amazon Standard Identification Numbers (ASINs) are unique blocks of 10 letters and/or numbers that identify items. " data-position="bottom" data-delay="10">What's an asin?</a></label><br>
        {{ form.asin }}
      </div>
      <div class="row">
      <div class="col l13 s13" style="position: relative; left: -12px;">
        <button class="btn waves-effect waves-light blue-paypal btn-block" type="submit" name="action">Next
        </button>
      </div>
    </div>
      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger center center-justify">
                    <p class="error-text center center-justify"><strong>{{ error|escape }}</strong></p>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger center center-justify">
                <p class="error-text center center-justify"><strong>{{ error|escape }}</strong></p>
            </div>
        {% endfor %}
      {% endif %}
    </form>
     <br>
  </div>
</div>
{% endblock %}
{% load static %}
{% block css %}
<link href="{% static 'css/materialize-stepper.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js %}
<script src="{% static 'js/asins.js' %}"></script>
{% endblock js %}