{% extends 'base.html' %}
{% load filter_extras %}
{% block title %} Step 2 {% endblock %}
{% block content %}
<div class="row center">
  <div class="col l6 offset-l4 s13 m8 offset-m2">
    <div class="card-content">
      <ul class="stepper horizontal" id="horizontal">
         <li class="step active">
            <!--data-step-label="To step-title!" -->
            <div class="step-title number-wrap waves-dark">Step 1</div>
         </li>
         <li class="step active">
            <div class="step-title number-wrap waves-dark">Step 2</div>
         </li>
         <li class="step">
            <div class="step-title number-wrap waves-dark">Step 3</div>
         </li>
      </ul>
    </div>
  </div>
</div>
<div class="row container">
  <div class="col s12 l3 m4 offset-s2 offset-l1 offset-m3">
      <div class="card-image">
        <img class="responsive-img" src="{{ product.primary_img}}">
      </div>
  </div>
  <div class="col s12 l6">
    <h3 class="main-grey-text light overflow">
      {{product.title | title}}
    </h3>
    <h7 class="disabled-text-text">
      ASIN: {{ product.asin }}
    </h7>
  </div>
</div>
<div class="row container">

  <ul class="tabs">
    <li class="tab col l3 m6 offset-l3 s13"><a href="#keywords" id="tab1" class="active blue-paypal-text">Keywords</a></li>
    <li class="tab col l3 m6 s13"><a id="tab2"  class="blue-paypal-text" href="#phrases">Phrases</a></li>
  </ul>

</div>
  <div class="row center">
  {% csrf_token %}
   <form id="chips-form" class="col center s13 l8 offset-l3" data-keywords-url="{% url 'products_add_keywords' marketplace.country_code product.asin %}" method="post">

      <div id="keywords" class="card card-keywords">
        <div id="div-1" class="chips chips-placeholder overflow-wrap"></div>
      </div>
      <div style="text-align: left;" id="div-1-text"><span class="disabled-text-text">Keywords </span><span id="div-1-counter" class="disabled-text-text">0</span></div>
      <div id="phrases" class="card card-keywords">
       <div id="div-2" class="chips chips-placeholder overflow-wrap"></div>
      </div>
      <div style="text-align: left; display: none" id="div-2-text"><span class="disabled-text-text">Phrases </span><span class="disabled-text-text" id="div-2-counter">0</span></div>
      <div class="row center">
   <div class="col l13 s13">
     <button id="chip-button" class="btn waves-effect waves-light blue-paypal btn-block" type="submit" name="action">Next
     </button>
   </div>
   <div id="loader" class="preloader-wrapper small active" style="display: none">
   <div class="spinner-layer spinner-blue-only">
     <div class="circle-clipper left">
       <div class="circle"></div>
     </div><div class="gap-patch">
       <div class="circle"></div>
     </div><div class="circle-clipper right">
       <div class="circle"></div>
     </div>
   </div>
      </div>
      </div>
   {% if user_form.errors %}
     {% for field in user_form %}
         {% for error in field.errors %}
             <div class="alert alert-danger">
                 {{field.name}}
                 <strong>{{ error|escape }}</strong>
             </div>
         {% endfor %}
     {% endfor %}
     {% for error in user_form.non_field_errors %}
         <div class="alert alert-danger">
             {{field.name}}
             <strong>{{ error|escape }}</strong>
         </div>
     {% endfor %}
   {% endif %}
   </form>
    </div>
  </div>
{% endblock %}
{% load static %}
{% block css %}
<link href="{% static 'css/materialize-stepper.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js %}
<script src="{% static 'js/asins.js' %}"></script>
<script>
  //For getting CSRF token
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
         var cookie = jQuery.trim(cookies[i]);
    // Does this cookie string begin with the name we want?
    if (cookie.substring(0, name.length + 1) == (name + '=')) {
      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
       }
      }
    }
  return cookieValue;
}
</script>
<script>
  $('#chips-form').on('keyup keypress', function(e) {
  var keyCode = e.keyCode || e.which;
  if (keyCode === 13) { 
    e.preventDefault();
    return false;
  }
});
  $("#chip-button").on("click", function (e) {  
    e.preventDefault();
    $('#chip-button').hide();
    $('#loader').show();
    var form = $('#chips-form');
    var chips = $('#div-1 .chip');
    var chips2 = $('#div-2 .chip');
    var keywords = [];
    for (i = 0; i < chips.length; i++) {
      var chip = chips[i].innerText;
      var input = chip.slice(0, chip.length-5);
      if (input !== '') {
        keywords.push(input);
      }
    }
    var phrases = [];
    for (i = 0; i < chips2.length; i++) {
      var chip = chips2[i].innerText;
      var input = chip.slice(0, chip.length-5);
      if (input !== '') {
        phrases.push(input);
      }
    }
    $.ajax({
      url: form.attr("data-keywords-url"),
      type : "POST",
      data: { 
        csrfmiddlewaretoken : getCookie('csrftoken'), 
        chips_keywords: JSON.stringify(keywords),
        chips_phrases: JSON.stringify(phrases) 
      },
      dataType: 'json',
      success: function (data) {
        var data_key = JSON.parse(data.data_key);
        var data_phrase = JSON.parse(data.data_phrase)
        if (data_key.length === 0 && data_phrase.length === 0) {
          Materialize.toast('Please add some keywords', 3000);
          $('#chip-button').show();
          $('#loader').hide();
        }
        else {
          window.location.href = '/product/save/';
        }
      },
      error: function(request, status, error) {
        console.log(error);
      }
    });

  });
</script>
{% endblock js %}
