{% extends 'base.html' %}
{% load filter_extras %}
{% block title %} Step 2 {% endblock %}
{% block content %}
<div class="row container">
  <div class="col l6 offset-l3 s12 m8 offset-m2">
    <div class="card-content">
      <ul class="stepper horizontal" id="horizontal">
         <li class="step active">
            <!--data-step-label="To step-title!" -->
            <div class="step-title waves-effect waves-dark">Step 1</div>
         </li>
         <li class="step active">
            <div class="step-title waves-effect waves-dark">Step 2</div>
         </li>
         <li class="step">
            <div class="step-title waves-effect waves-dark">Step 3</div>
         </li>
      </ul>
    </div>
  </div>
</div>
<div class="row container">
  <div class="col s12 l3 m4 offset-s2 offset-l1 offset-m3p">
      <div class="card-image">
        <img class="responsive-img" src="{{ product.primary_img}}">
      </div>
  </div>
  <div class="col s12 l6">
    <h3 class="main-grey-text light overflow">
      {{product.title | title}}
    </h3>
    <h7 class="disabled-text-text">
      ASIN: {{ product.asin }}
    </h7>
  </div>
</div>
<div class="row container">
  <ul class="tabs">
    <li class="tab col l3 m6 offset-l3 s13"><a href="#keywords" class="active blue-paypal-text">Keywords</a></li>
    <li class="tab col l3 m6 s13"><a class="blue-paypal-text" href="#phrases">Phrases</a></li>
  </ul>
</div>
  <div class="row center">
  <form id="chips-form" class="col center s13 l8 offset-l3" data-keywords-url="{% url 'products_add_keywords' marketplace.country_code product.asin %}" method="post">
     {% csrf_token %}
      <div id="keywords" class="card card-keywords">
        <div id="div-1" class="chips chips-placeholder"></div>
      </div>
      <div id="phrases" class="card card-keywords">
        <div id="div-2" class="chips chips-placeholder"></div>
      </div>
    <div class="row center">

      <div class="col l13 s13">
        <button id="chip-button" class="btn waves-effect waves-light blue-paypal btn-block" type="submit" name="action">Next
        </button>
      </div>
      <div id="loader" class="preloader-wrapper small active" style="display: none">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    </div>
      {% if user_form.errors %}
        {% for field in user_form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{field.name}}
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in user_form.non_field_errors %}
            <div class="alert alert-danger">
                {{field.name}}
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
      {% endif %}
    </form>
    </div>
  </div>
{% endblock %}
{% load static %}
{% block css %}
<link href="{% static 'css/materialize-stepper.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js %}
<script src="{% static 'js/asins.js' %}"></script>
<script>
  //For getting CSRF token
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
         var cookie = jQuery.trim(cookies[i]);
    // Does this cookie string begin with the name we want?
    if (cookie.substring(0, name.length + 1) == (name + '=')) {
      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
       }
      }
    }
  return cookieValue;
}
</script>
<script>
  $('#chips-form').on('keyup keypress', function(e) {
  var keyCode = e.keyCode || e.which;
  if (keyCode === 13) { 
    e.preventDefault();
    return false;
  }
});
  $("#chip-button").on("click", function (e) {
    console.log(e);
    e.preventDefault();
    $('#chip-button').hide();
    $('#loader').show();
    var form = $('#chips-form');
    var chips = $('.chip');
    var keywords = [];
    for (i = 0; i < chips.length; i++) {
      var chip = chips[i].innerText;
      var input = chip.slice(0, chip.length-5);
      keywords.push(input);
    }
    $.ajax({
      url: form.attr("data-keywords-url"),
      type : "POST",
      data: { 
        csrfmiddlewaretoken : getCookie('csrftoken'), 
        chips: JSON.stringify(keywords) },
      dataType: 'json',
      success: function (data) {
        var data = JSON.parse(data.data);
        if (data.length === 0) {
          Materialize.toast('Please add some keywords', 3000);
          $('#chip-button').show();
          $('#loader').hide();
        }
        else {
          window.location.href = '/product/save/';
        }
      },
      error: function(request, status, error) {
        console.log(error);
      }
    });

  });
</script>
{% endblock js %}
