{% extends 'base.html' %}
{% block title %} Save Products {% endblock %}
{% block content %}
<div class="row">
  <div class="col l6 offset-l3 s12 m8 offset-m2">
    <div class="card-content">
      <ul class="stepper horizontal" id="horizontal">
         <li class="step active">
            <!--data-step-label="To step-title!" -->
            <div class="step-title waves-effect waves-dark">Step 1</div>
         </li>
         <li class="step active">
            <div class="step-title waves-effect waves-dark">Step 2</div>
         </li>
         <li class="step active">
            <div class="step-title waves-effect waves-dark">Step 3</div>
         </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col offset-s2">
    <h6 class="main-grey-text">How often do you want to check your product for indexation?</h6>
  </div>
  <form class="col center s8 offset-s2" method="POST">
    {% csrf_token %}
      {% for choice in form.choices_group1 %}
      <p>
        {{ choice.tag }}
        <label for="id_choices_group1_{{ forloop.counter0 }}">{{ choice.choice_label }}</label>
      </p>
      {% endfor %}
      <div>
        <h6 class="main-grey-text left">Do you wish to receive an email each time the report is run automatically?</h6>
      </div>
      <br>
      {% for choice in form.choices_group2 %}
      <p>
        {{ choice.tag }}
        <label for="id_choices_group2_{{ forloop.counter0 }}">{{ choice.choice_label }}</label>
      </p>
      {% endfor %}
      <div style="padding-left: 20px">
        {% for choice in form.choices_group3 %}
        <p>
          {{ choice.tag }}
          <label for="id_choices_group3_{{ forloop.counter0 }}">{{ choice.choice_label }}</label>
        </p>
        {% endfor %}
      </div>
      <button class="btn waves-effect waves-light blue-paypal" type="submit" value="saveProduct" name="saveProduct">Save Product
      </button>
      <button id="chip-button" class="btn waves-effect waves-light blue-paypal" type="submit" value="saveAndRun" name="saveAndRun">Save and run indexation now</button>

      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{field.name}}
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{field.name}}
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
      {% endif %}
    </form>
  </div>
{% endblock %}
{% load static %}
{% block js %}
<script src="{% static 'js/radio_buttons.js' %}"></script>
{% endblock %}