{% extends 'base.html' %}
{% block title %} Step 1 {% endblock %}
{% block content %}
<div class="page-title-wrap">
    <div class="container">
        <h1 class="page-title">Add Product</h1>
    </div>
</div>
<div class="section no-pad-bot container add-product" id="index-banner">
<div class="row center">
  <div class="col l6 offset-l3 m9 offset-m2 s12">
    <div class="card-content">
      <ul class="stepper horizontal" id="horizontal">
         <li class="step active">
            <!--data-step-label="To step-title!" -->
            <div class="step-title number-wrap waves-dark"><span class="hide-on-small-only">Step 1</span></div>
         </li>
         <li class="step">
            <div class="step-title number-wrap waves-dark"><span class="hide-on-small-only">Step 2</span></div>
         </li>
         <li class="step">
            <div class="step-title number-wrap waves-dark"><span class="hide-on-small-only">Step 3</span></div>
         </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col l6 offset-l3 m8 offset-m2 s12">
      <h4 class="header center-align main-grey-text">Choose Amazon Marketplace &amp; ASIN</h4>
  </div>
</div>

<div class="row">
  <div class="col l6 offset-l3 m8 offset-m2 s12">    
    <form class="center" method="post">
     {% csrf_token %}
      <div class="input-field">
      {{form.select_choices}}
      <label style="margin-top: -10px;">MarketPlace</label>
    </div>
    <div class="input-field">
       <label style="margin-top: 12px; font-size: 1.2rem; height: 10px;" class="label-pointer">Your product's asin <a class="tooltipped" data-tooltip="Amazon Standard Identification Numbers (ASINs) are unique blocks of 10 letters and/or numbers that identify items. " data-position="bottom" data-delay="10">What's an asin?</a></label><br>
        {{ form.asin }}
      </div>
      <div class="row">
        <div class="col l12 s12">
            <button class="btn waves-effect waves-light blue-paypal btn-large" type="submit" name="action">Next
            </button>
          </div>
      </div>
    </div>
      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger center center-justify">
                    <p class="error-text center center-justify"><strong>{{ error|escape }}</strong></p>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger center center-justify">
                <p class="error-text center center-justify"><strong>{{ error|escape }}</strong></p>
            </div>
        {% endfor %}
      {% endif %}
    </form>
     <br>
  </div>
</div>
</div>
{% endblock %}
{% load static %}
{% block css %}
<link href="{% static 'css/materialize-stepper.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js %}
<script src="{% static 'js/asins.js' %}"></script>
{% endblock js %}