{% extends 'base.html' %}
{% load filter_extras %}
{% block title %} Step 2 {% endblock %}
{% block content %}
<div class="row container">
  <div class="col l6 offset-l4 s13 m8 offset-m2">
    <div class="card-content">
      <ul class="stepper horizontal" id="horizontal">
         <li class="step">
            <!--data-step-label="To step-title!" -->
            <div class="step-title number-wrap waves-dark"><span class="hide-on-small-only">Step 1</span></div>
         </li>
         <li class="step active">
            <div class="step-title number-wrap waves-dark"><span class="hide-on-small-only">Step 2</span></div>
         </li>
         <li class="step">
            <div class="step-title number-wrap waves-dark"><span class="hide-on-small-only">Step 3</span></div>
         </li>
      </ul>
    </div>
  </div>
</div>
<div class="row container">
  <div class="col s12 l3 m4 offset-s2 offset-l1 offset-m3">
      <div class="card-image">
        <img class="responsive-img" src="{{ product.primary_img}}" style="margin-top: 10px;">
      </div>
  </div>
  <div class="col s12 l8 justify">
    <h3 class="main-grey-text light">
      {{product.title | title}}
    </h3>
    <h7 class="disabled-text-text">
      ASIN: {{ product.asin }}
    </h7>
  </div>
</div>
<div class="row container">
  <div class="col center s13 l5 offset-l4 offset-m4">
    <h5 class="left">Enter keywords or phrases</h5>
  </div>
   <form id="form" data-keywords-url="{% url 'products_add_keywords' marketplace.country_code product.asin %}" method="post">
    <div class="row">
      <div class="input-field col l9 s13 m13">
        <textarea id="textarea" placeholder="Copy paste here your keywords
One keyword per line
        " style="height: 125px; white-space: nowrap;"></textarea>
         <button class="btn waves-effect waves-light blue-paypal btn-block" type="submit" name="action">Add these keywords
        </button>
      </div>
      <div class="input-field col s13 l4">
        <select id="select_type">
          <option value="" disabled>Choose your option</option>
          <option value="keyword" selected>Keyword</option>
          <option value="phrase">Phrase</option>
        </select>
        <label>Type</label>
      </div>
    </div>
    <div class="row">
      <div class="col l13 s13 m13">
        <table  class="bordered striped highlight">
          <thead class="detail-blue white-text">
            <tr>
              <th>Keyword</th>
              <th>Type</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="table">
          </tbody>
        </table>
        
      </div>
    </div>
    <div class="row container">
      <div class="col s12 l6 m6">
            <button id="finish" class="btn waves-effect waves-light blue-paypal btn-block" type="submit" name="action">Save and finish
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
{% load static %}
{% block css %}
<link href="{% static 'css/materialize-stepper.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js %}
<script src="{% static 'js/asins.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bin/keywords-amazon.js' %}"></script>
{% endblock js %}
