{% extends 'base.html' %}
{% block title %} Upgrade Account {% endblock %}

{% block content %}
{% load filter_extras %}
{% load static %}
{% block css %}
{% endblock %}
 <div class="page-title-wrap">
    <div class="container">
        <h1 class="page-title">Plan Upgrade</h1>
    </div>
</div>
<div class="section no-pad-bot container plan-upgrade" id="index-banner">
      
  <div class="row">
    <div class="col l12 m12 s12 center">
      <h4>Click to select your plan </h4>
    </div>
  </div>
  <div class="row">
    <div class="show-on-small hide-on-med-and-up">
      <select id="mobile-stripe" class="browser-default">
        <option value="" disabled>Choose your Plan</option>
        <option value="Monthly" selected>Monthly ($10) </option>
        <option value="Yearly">Yearly ($100)</option>
      </select>
    </div>
    <div class="col l4 offset-l2 m6 hide-on-small-only">
        <div id="DIV_1_upgrade" class="data-monthly">
            <div class="plan-table z-depth-1">
                <header>
                    <h2 class="font_2">
                    <span style="font-size:45px;"><span>$10</span></span><span style="font-size: 18px">/m</span>
                    </h2>
                </header>
                <div class="p-t-b">
                    <ul>
                        <li>Unlimited ASINs</li>
                        <li>Daily listing notifications</li>
                        <li>Free setup guidance</li>
                        <li>Eligible for promotions</li>
                        <li>No expiration period</li>
                    </ul>
                </div>
                <div class="plan-select">
                    <span>Select Plan</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col l4 m6 hide-on-small-only">
        <div id="pricing_DIV_1_upgrade" class="data-yearly" style="border: none;">
            <div id="pricing_DIV_3">           
                <div class="plan-table z-depth-1">
                    <header>
                        <h2 class="font_2">
                        <span style="font-size:45px;"><span>$100</span></span><span style="font-size: 18px">/yr</span>
                        </h2>
                    </header>
                    <div class="p-t-b">
                        <ul>
                            <li>Unlimited ASINs</li>
                            <li>Daily listing notifications</li>
                            <li>​Free setup guidance</li>
                            <li>Eligible for promotions</li>
                            <li>No expiration period</li>
                        </ul>
                    </div>
                    <div class="plan-select">
                        <span>Select Plan</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <div class="row coupon-row">
    <div class="input-field col s13 m13 l9 offset-l2" id="payment-form" data-settings-url="{% url 'stripe_check_coupon' %}" data-stripe-key="{{ key }}" data-upgrade-url="{% url 'stripe_upgrade_coupon' %}" data-free-url="{% url 'stripe_charge_free' %}">
      <input placeholder="Coupon" id="coupon" type="text" class="validate" style="text-transform: uppercase">
      <label class="active" for="coupon" data-error="Invalid coupon" data-success="Valid coupon" style="font-size: 22px; color: black;">Coupon Code</label>
    </div>
    <div class="col s13 m13 l9 offset-l2">
      <label>
        <h5 id="showTotal" class="black-text">Total: </h5>
      </label>
    </div>
</div>
<div class="center center-justify container">
   <a id="subscribe" class="btn-large waves-effect waves-light blue-paypal btn-block">Next</a>
  <div id="loader" class="preloader-wrapper big active" style="display: none">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
{% endblock %}
{% block js %}
<script src="https://js.stripe.com/v3/"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="{% static 'js/bin/stripe-select.js' %}"></script>
<script src="{% static 'js/bin/coupon-checkout.js' %}"></script>
<script src="{% static 'js/bin/stripe-coupon.js' %}"> </script>
{% endblock %}