.justify { text-align: justify;}
.asin-delete-text { position: absolute; left: 0px !important; }
.inline { display: inline-block; }
.overflow {text-overflow: ellipsis; white-space: nowrap;overflow: hidden;}
.table-circle {width: 15px; height: 15px; display: inline-block;margin-right: 10px;}
.card-padding {padding-bottom: 10px; display: block;}
