.justify { text-align: justify;}
.asin-delete-text { position: absolute; left: 0px !important; }
.inline { display: inline-block; }
.overflow {text-overflow: ellipsis; white-space: nowrap;overflow: hidden;}
.card-margin { margin-left: 5px; margin-right:130px}
.table-circle {width: 15px; height: 15px; display: inline-block;margin-right: 10px;}