.justify { text-align: justify;}
.asin-delete-text { position: absolute; left: 0px !important; }
.inline { display: inline-block; }
.overflow {text-overflow: ellipsis; white-space: nowrap;overflow: hidden;}
.table-circle {width: 15px; height: 15px; display: inline-block;margin-right: 10px;}
.card-padding {padding-bottom: 10px; display: block;}
.error{ background-color: red };
.overflow-wrap {text-overflow: ellipsis; overflow: hidden;}
.dashboard-loader{position: absolute; right: 45%;}
.settings-loader{height: 2em; width: 2em; overflow: show;margin: auto;left: 0;bottom: 0;right: 0;}
.margin-top{ margin-top: 15px; }
.edit_cc{ cursor: pointer; font-size: 13px;}
.progress_bar { width: 300px; height: 300px; position: relative;}
.no-margin-bottom { margin-bottom: 0px !important;}
.show-link { z-index: 1;}
.margin-delete{ margin-top: 5px;}
.cursor {cursor: pointer;}
.hidden {display: none;}
.uppercase {text-transform: uppercase;}
.error-text {color: #D5503E}
.logo-header {position: absolute; left: 60px;}